.pokemon-card{
    background-color: rgb(255, 235, 179);
    border: 1px solid #666;
    border-radius: 15px;
    box-shadow: 1px 1px 6px rgb(0, 0, 0);
    padding: 15px;
    margin: 12px;
    font-family: 'Verdana', sans-serif;
    text-transform: capitalize;
}